<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.heima.domain"/>
    </typeAliases>

<!--    <mappers>-->
<!--&lt;!&ndash;        <mapper resource="org/mybatis/example/BlogMapper.xml"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <mapper resource="com/heima/dao/ItemsMapper.xml"/>&ndash;&gt;-->
<!--        <package name="com.heima.dao"/> &lt;!&ndash; 全部指定 &ndash;&gt;-->
<!--    </mappers>-->
</configuration>